altgraph==0.17.4
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==44.0.3
packaging==25.0
pdf2image==1.17.0
pdfminer.six==20250327
pdfplumber==0.11.6
pefile==2023.2.7
pillow==11.2.1
pycparser==2.22
pyenchant==3.2.2
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
PyMuPDF==1.25.5
pypdfium2==4.30.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5-stubs==5.15.6.0
PyQt5_sip==12.17.0
pytesseract==0.3.13
pywin32-ctypes==0.2.3
setuptools==80.3.1
